#main-header {
	padding: 40px 0px;
	margin: 0px 40px;
}

body {
	background-color: #1a1a1d;
  background-size: 40px;
}

img.logo {
	width: 20vh;
}

.logo-border {
  display: flex;
  align-items:center;
  justify-content:center;
}

div {
  display: block;
  height: 22vh;
  width: 22vh;
  text-align:center;

  -moz-border-radius: 30vw;
  border-radius: 30vw;

  background-color: white;
}

.name {
	font-size: 7vw;
	font-family: Arial;
	margin: 0;
	color: white;
}

a {
	text-decoration: none;
	color: white;
}
a:link {
	color: white;
}
a:visited {
	color: white;
}
a:hover {
	color: #00a1ff
}

.page-header {
	font-size: 7vw;
	font-family: Arial;
	margin: 0;
	color: white;
}

nav {
	margin-left: 20vw;
}